#education{
    display: flex;
    justify-content: center;
}

#education-info {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid transparent;
}

.achievements {
    position: relative;
}

.achievements h3{
    font-weight: normal;
    margin-top: -10px;
}
.achievements h5{
    margin-top: -8px;
    font-weight: normal;
    font-size: 1rem;
}
.achievements h6{
    margin-top: -15px;
    font-weight: normal;
    font-size: 1rem;
}

.achievements::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgray;
    top: 35%;
    left: -9.3%;
    border-radius: 50%;
    z-index: 1;
}

#education-divider {
    position: absolute;
    width: 0;
    height: 68%;
    left: -2rem;
    border: 1px dashed #0abcf9;
}

.education-traveller {
    position: sticky;
    bottom: 80px;
    top: 30%;
    font-size: x-large;
    z-index: 2;
    transform: rotate(90deg);
}

.education-traveller i{
    margin-left: -15px;
    color: darkblue;
}

@media screen and (max-width:400px){
     #education-divider {
        left: -17.5%;
        top: 11.5%;
        height: 70%;
    }
    #education-info {
        position: relative;
        margin-left: 20%;
        border: 2px solid transparent;
    }
    .achievements::after {
        left: -20%;
    }
}

@media screen and (min-width: 400px) and (max-width:500px){
    #education-divider {
       left: -18%;
       top: 11%;
       height: 70%;
   }
   #education-info {
       position: relative;
       margin-left: 20%;
       border: 2px solid transparent;
   }
   .achievements::after {
       left: -20%;
   }
}

@media screen and (min-width: 500px) and (max-width:800px){
    #education-divider {
       left: -17.9%;
       top: 13%;
   }
   #education-info {
       position: relative;
       margin-left: 20%;
       border: 2px solid transparent;
   }
   .achievements::after {
       left: -19.8%;
   }
}

@media screen and (min-width: 800px) and (max-width:1600px){
    #education-divider {
       left: -23.5%;
       top: 12%;
   }
   #education-info {
       position: relative;
       margin-left: 30%;
       border: 2px solid transparent;
   }
   .achievements::after {
       left: -25%;
   }
}