.project{
    width: 80%;
    margin:50px auto;
    position: relative;
}

.project-box {
    width: 45%;
    position: relative;
}

.project-box:nth-child(2n+1) {
    text-align: right;
}

.project-box:nth-child(2n) {
    left: 55%;
    text-align: left;
}

.project-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgray;
    top: 38%;
    border-radius: 50%;
    z-index: 1;
}

.project-box:nth-child(2n+1)::after {
    right: -12.6%;
}

.project-box:nth-child(2n)::after {
    left:-12.4%;
}

.project-box:nth-child(2n+1) .project-img{
    width: 12rem;
    height: 7rem;
    border-radius: 8px;
    position: absolute;
    top:0;
    left:0;
}
.project-box:nth-child(2n) .project-img{
    width: 12rem;
    height: 7rem;
    border-radius: 8px;
    position: absolute;
    top:0;
    right:0;
}

#clock {
    width: 9rem;
    height: 9rem;
}

.project-img img {
    width: 100%;
    height: 100%;
}

.project-title{
    margin-top: 0;
    font-size: 2rem;
    color: rgb(40,87,164);
}

.project-tech{
    font-size: 1.4rem;
    color: rgb(235,130,45);
    font-weight: 500;
    margin-top: -13px;
}

.project-link{
    margin-top: -13px;
    font-size: 1rem;
}

.project-link a{
    text-decoration: none;
}

.project-detail{
    text-align: justify;
    margin-top: 30px;
    color: gray;
    line-height: 1.4;
    letter-spacing: 0.4px;
}

#portfolio-divider {
    position: absolute;
    width: 0;
    height: 80%;
    left: 50%;
    top: 8%;
    border: 1px dashed #0abcf9;
}

.portfolio-traveller {
    position: sticky;
    top: 30%;
    margin-top: -5px;
    margin-left: -1px ;
    font-size: x-large;
    z-index: 2;
    transform: rotate(90deg);
}

.portfolio-traveller i{
    margin-left: -15px;
    color: darkblue;
}

/* Responsiveness */
@media screen and (max-width:600){
    
}
