/* ----Skills---- */

.all-skills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.web,
.skill {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 50px;
    color: white;
    height: 40px;
    z-index: 10;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.web {
    height: 5rem;
    width: 6rem;
}

#html,
#css,
#git {
    width: 80px;
}

#javascript,
#firebase,
#tailwind {
    width: 140px;
}

#react,
#redux {
    width: 110px;
}

#context {
    width: 160px;
}

/* Define keyframe animations for each skill */
@keyframes moveHTML {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-200px, 0px);
    }
}

.animate-html {
    animation: moveHTML 1.5s ease-in-out forwards;
}

@keyframes moveCSS {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0px, -100px);
    }
}

.animate-css {
    animation: moveCSS 1.5s ease-in-out forwards;
}

@keyframes moveJavaScript {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(200px, 0px);
    }
}

.animate-javascript {
    animation: moveJavaScript 1.5s ease-in-out forwards;
}

@keyframes moveReact {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0px, 100px);
    }
}

.animate-react {
    animation: moveReact 1.5s ease-in-out forwards;
}

@keyframes moveRedux {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(330px, 150px);
    }
}

.animate-redux {
    animation: moveRedux 1.5s ease-in-out forwards;
}

@keyframes moveFirebase {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-330px, -150px);
    }
}

.animate-firebase {
    animation: moveFirebase 1.5s ease-in-out forwards;
}

@keyframes moveTailwind {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(330px, -150px);
    }
}

.animate-tailwind {
    animation: moveTailwind 1.5s ease-in-out forwards;
}

@keyframes moveContext {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-330px, 150px);
    }
}

.animate-context {
    animation: moveContext 1.5s ease-in-out forwards;
}

@keyframes moveGit {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0px, -260px);
    }
}

.animate-git {
    animation: moveGit 1s ease-in-out forwards;
}

.empty-circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid lightgray;
}

.circle-1 {
    height: 7rem;
    width: 12rem;
}

.circle-2 {
    height: 13rem;
    width: 25rem;
}

.circle-3 {
    height: 20rem;
    width: 38rem;
}

.circle-4 {
    height: 26rem;
    width: 55rem;
}

.circle-5 {
    height: 33rem;
    width: 75rem;
}

@media screen and (max-width: 500px) {
    .all-skills {
        height: 65vh;
    }
    .skill span{
        font-size: small;
        font-weight: normal;
    }
    .circle-1 {
        width: 3rem;
        height: 3rem;
    }

    .circle-2 {
        height: 8rem;
        width: 8rem;
    }

    .circle-3 {
        height: 13rem;
        width: 13rem;
    }

    .circle-4 {
        height: 17rem;
        width: 17rem;
    }

    .circle-5 {
        height: 21rem;
        width: 21rem;
    }

    .web,
    .skill {
        font-size: 1rem;
        font-weight: 200;
    }

    .web {
        height: 5rem;
        width: 5rem;
    }

    #html,
    #css,
    #git {
        width: 60px;
    }

    #javascript,
    #firebase,
    #tailwind {
        width: 80px;
    }

    #react,
    #redux {
        width: 90px;
    }

    #context {
        width: 100px;
    }

    @keyframes moveHTML {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-80px, 0px);
        }
    }

    @keyframes moveCSS {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, -80px);
        }
    }

    @keyframes moveJavaScript {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(90px, 0px);
        }
    }

    @keyframes moveReact {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, 80px);
        }
    }

    @keyframes moveRedux {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(100px, 120px);
        }
    }

    @keyframes moveFirebase {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100px, -120px);
        }
    }

    @keyframes moveTailwind {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(100px, -120px);
        }
    }

    @keyframes moveContext {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100px, 120px);
        }
    }

    @keyframes moveGit {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, -170px);
        }
    }

}

@media screen and (min-width:500px) and (max-width:736px) {
    .all-skills {
        margin: 50px auto;
    }

    .skill span {
        font-size: small;
    }

    .circle-1 {
        width: 3rem;
        height: 3rem;
    }

    .circle-2 {
        height: 8rem;
        width: 8rem;
    }

    .circle-3 {
        height: 13rem;
        width: 13rem;
    }

    .circle-4 {
        height: 17rem;
        width: 17rem;
    }

    .circle-5 {
        height: 21rem;
        width: 21rem;
    }

    .web,
    .skill {
        font-size: 1rem;
        font-weight: 200;
    }

    .web {
        height: 3rem;
        width: 3rem;
    }

    #html,
    #css,
    #git {
        width: 60px;
    }

    #javascript,
    #firebase,
    #tailwind {
        width: 80px;
    }

    #react,
    #redux {
        width: 90px;
    }

    #context {
        width: 100px;
    }

    @keyframes moveHTML {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-80px, 0px);
        }
    }

    @keyframes moveCSS {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, -80px);
        }
    }

    @keyframes moveJavaScript {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(90px, 0px);
        }
    }

    @keyframes moveReact {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, 80px);
        }
    }

    @keyframes moveRedux {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(100px, 120px);
        }
    }

    @keyframes moveFirebase {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100px, -120px);
        }
    }

    @keyframes moveTailwind {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(100px, -120px);
        }
    }

    @keyframes moveContext {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100px, 120px);
        }
    }

    @keyframes moveGit {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, -170px);
        }
    }


}

@media screen and (min-width:736px) and (max-width: 1250px) {
    .all-skills {
        margin: 50px auto;
    }

    .skill span {
        font-size: medium;
    }

    .circle-1 {
        width: 8rem;
        height: 5rem;
    }

    .circle-2 {
        height: 10rem;
        width: 15rem;
    }

    .circle-3 {
        height: 15rem;
        width: 25rem;
    }

    .circle-4 {
        height: 25rem;
        width: 35rem;
    }

    .circle-5 {
        height: 35rem;
        width: 45rem;
    }

    .web,
    .skill {
        font-size: 1.2rem;
        font-weight: 200;
    }

    .web {
        height: 4rem;
        width: 4rem;
    }

    #html,
    #css,
    #git {
        width: 80px;
    }

    #javascript,
    #firebase,
    #tailwind {
        width: 100px;
    }

    #react,
    #redux {
        width: 110px;
    }

    #context {
        width: 120px;
    }

    @keyframes moveHTML {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-120px, 0px);
        }
    }

    @keyframes moveCSS {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, -80px);
        }
    }

    @keyframes moveJavaScript {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(120px, 0px);
        }
    }

    @keyframes moveReact {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, 80px);
        }
    }

    @keyframes moveRedux {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(220px, 120px);
        }
    }

    @keyframes moveFirebase {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-220px, -120px);
        }
    }

    @keyframes moveTailwind {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(220px, -120px);
        }
    }

    @keyframes moveContext {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-220px, 120px);
        }
    }

    @keyframes moveGit {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0px, -280px);
        }
    }

}